/* .paragraph-1 {
    border: 1px darkkhaki;
}

#line-baru {
    background-color: darkslateblue;
}

p {
    background-color: cornflowerblue;
} */


body {
    margin: 0;
}

h2 {
    text-align: center;
}

.photo {
    background-color: dimgray;
    padding: 40px 0;
}

.photo img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.about p {
    text-align: justify;
    margin: 0 10%;
}

